<div class="p-grid">
  <p-card class="p-col-12 p-md-6 p-lg-3">
    <p-header>
      Header content here
    </p-header>
    Body Content
    <p-footer>
      Footer content here
    </p-footer>
  </p-card>
  <p-card [style]="{width: '238px'}" class="p-col-fixed" header="Simple Card">
    <ng-template pTemplate="header">
      <img alt="Card" height="212" width="238" src="assets/download.png">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam
      deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!</p>
  </p-card>
  <p-card class="p-col-12 p-md-6 p-lg-3">
    <p-header>
      Header content here
    </p-header>
    Body Content
    <p-footer>
      Footer content here
    </p-footer>
  </p-card>
  <p-card header="header" class="p-col-12 p-md-6 p-lg-3">
    <p-header>
      Header content here
    </p-header>
    Body Content
    <p-footer>
      Footer content here
    </p-footer>
  </p-card>
</div>
