<p-menubar [model]="items">

  <ng-template pTemplate="start">
    <img src="assets/primeng-logo-dark.svg"
         routerLink="/welcome"
         height="40"
         [style]="{cursor: 'pointer'}"
         alt="icon"
         class="p-mr-2">
  </ng-template>

  <ng-template pTemplate="end">

    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search">
    </span>

  </ng-template>

</p-menubar>

<div class="p-p-3">
  <router-outlet></router-outlet>
</div>
